<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="mAadhar Test Suit">
  <test name="Chrome Test" enabled="true">
        <groups>
            <run>
                <include name="chrome" />
            </run>
        </groups>
        <classes>
            <class name="com.mAadhar.MAadharApplicationTests" />
        </classes>
    </test>
</suite>
